@model TravelBlog.Models.Experience
@using TravelBlog.Models

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>
<hr />
<div class="list-card">
    <h4>Add a new Experience</h4>
    @using (Html.BeginForm())
    {

        @Html.LabelFor(model => model.ExperienceName)
        @Html.TextBoxFor(model => model.ExperienceName)

        @Html.LabelFor(model => model.ExperienceDescription)
        @Html.TextBoxFor(model => model.ExperienceDescription)

        @Html.LabelFor(model => model.ExperienceImage)
        @Html.TextBoxFor(model => model.ExperienceImage)

        @Html.LabelFor(model => model.LocationId)
        @Html.DropDownList("LocationId")

        <label>Who did you have this experience with?</label>
        <select name="PersonIds" multiple>
            @foreach(var person in ViewBag.People)
            {
                <option value="@person.PersonId">@person.PersonName</option>
            }
        </select>
        <input type="submit" value="Add new experience" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>
