@model TravelBlog.Models.Experience
@using TravelBlog.Models

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experience details</h2>
<hr />
<div class="list-card">
    @if (Model.ExperienceImage != "")
    {
        <img src="@Html.DisplayFor(model => model.ExperienceImage)" /><br />
    }

    @Html.DisplayFor(model => model.ExperienceName)<br />
    @Html.DisplayFor(model => model.ExperienceDescription)<br>
    At:
    @Html.DisplayFor(model => model.Location.LocationName)


    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>