@model TravelBlog.Models.Location

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Create</h2>
    <hr />
    <h4>Add a new Adventure</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.LocationName)
        @Html.TextBoxFor(model => model.LocationName)

        @Html.LabelFor(model => model.LocationDescription)
        @Html.TextBoxFor(model => model.LocationDescription)

        @Html.LabelFor(model => model.LocationImage)
        @Html.EditorFor(model => model.LocationImage)
        <input type="submit" value="Add new adventure" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
