@model TravelBlog.Models.Location
@using TravelBlog.Models







<h2>Location details</h2>
<hr />
<img src="@Html.DisplayFor(model => model.LocationImage)" /><br />

@Html.DisplayFor(model => model.LocationName)<br />
@Html.DisplayFor(model => model.LocationDescription)

    <p> Experiences:</p>
@foreach(Experience thing in((List<Experience>)ViewBag.MyList))
{
    @thing.ExperienceName<br />;
}


<p>@Html.ActionLink("Back to list", "Index")</p>