@model TravelBlog.Models.Location
@using TravelBlog.Models

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location details</h2>
<hr />
<div class="list-card">
<img src="@Html.DisplayFor(model => model.LocationImage)" /><br />


@Html.DisplayFor(model => model.LocationName)<br />
@Html.DisplayFor(model => model.LocationDescription)

    <p> Experiences:</p>
@foreach(var experience in Model.Experiences)
{
    @experience.ExperienceName<br />
}

@foreach (var comment in Model.Comments)
{
    @comment.Body<br />
    @comment.User.UserName
}

<p>@Html.ActionLink("Add comment", "Create", "Comments", new { id = Model.LocationId})</p>


<p>@Html.ActionLink("Back to list", "Index")</p>

</div>