@model TravelBlog.Models.Person
@using TravelBlog.Models

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>
<hr />
<h4>Add a new Person you've met</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.PersonName)
    @Html.TextBoxFor(model => model.PersonName)

    @Html.LabelFor(model => model.PersonDescription)
    @Html.TextBoxFor(model => model.PersonDescription)

    @Html.LabelFor(model => model.PersonImage)
    @Html.EditorFor(model => model.PersonImage)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.ExperienceId)
    @Html.DropDownList("ExperienceId")
    <input type="submit" value="Add new person" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
