@model TravelBlog.Models.Person

<h2>Person details</h2>
<hr />
<img src="@Html.DisplayFor(model => model.PersonImage)" />
<p>@Html.DisplayFor(model => model.PersonName) </p>
<p>@Html.DisplayFor(model => model.PersonDescription)</p>
<p>At: @Html.DisplayFor(model => model.Location.LocationName)</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
