@model TravelBlog.Models.Person

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person details</h2>
<hr />
<div class="list-card">
    <img src="@Html.DisplayFor(model => model.PersonImage)" />
    <p>@Html.DisplayFor(model => model.PersonName) </p>
    <p>@Html.DisplayFor(model => model.PersonDescription)</p>
    <br />
    <p>Interactions</p>
    @foreach(var encounter in Model.Encounters)
    {
        <p>Experience: @Html.DisplayFor( _ => encounter.Experience.ExperienceName)</p>
        <p>At: @Html.DisplayFor( _ => encounter.Experience.Location.LocationName)</p>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>