@model TravelBlog.Models.Person

<h2>Edit</h2>
<hr />
<h4>Edit this person: @Html.DisplayFor(model => model.PersonName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PersonId)

    @Html.LabelFor(model => model.PersonName)
    @Html.EditorFor(model => model.PersonName)

    @Html.LabelFor(model => model.PersonDescription)
    @Html.EditorFor(model => model.PersonDescription)

    @Html.LabelFor(model => model.PersonImage)
    @Html.EditorFor(model => model.PersonImage)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.ExperienceId)
    @Html.DropDownList("ExperienceId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>

